.btn-selected {
  background: #FFE8CD !important;
  border: 3px solid #F8931E  !important;
  color: #455A64 !important;
}

.groupChoice {
  width: 100%;
  text-align: center;
  margin-top: 1.5rem;
}

.groupChoice.multi {
  width: 100%;
  text-align: center;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
}

.groupChoice button {
  width: 90%;
  height: 43px;
  margin-top: 1rem;
  border: 1px solid #455a64;
  box-sizing: border-box;
  background: transparent;
  cursor: pointer;
}

.groupChoice.multi button {
  
  margin: 1rem;
  border: 1px solid #455a64;
  box-sizing: border-box;
  background: transparent;
  cursor: pointer;
}




.groupChoice button p {
  text-align: start !important;
  font-weight: 600;
  font-size: 24px;
  color: #455a64;
  margin: 0;
  margin-left: 1rem;
}


